.catalog {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 0 16px;
  margin-bottom: 24px;
  .catalog-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .catalog-head-btn {
      display: none;
    }
    .catalog-head-title {
      color: rgba(255, 255, 255, 1);

      font-family: Gotham;
      font-size: 20px;
      font-weight: 700;
      line-height: 22.1px;
      text-align: left;
    }
    .catalog-arrow {
      display: flex;
      align-items: center;
      column-gap: 4px;
      img {
        width: 16px;
        height: 16px;
      }
      span {
        color: rgba(205, 231, 190, 1);
        font-family: Gotham;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        text-align: left;
      }
    }
  }
  .catalog-body {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    column-gap: 8px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    .book__item {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      img {
        width: 130px;
        height: 184px;
      }
      .book__item-title {
        color: rgba(234, 244, 244, 1);
        font-family: Gotham;
        font-size: 12px;
        font-style: italic;
        font-weight: 500;
        line-height: 11.48px;
        margin-top: 8px;
        margin-bottom: 2px;
      }
      .book__item-subtitle {
        color: rgba(234, 244, 244, 1);
        font-family: Gotham;
        font-size: 10px;
        font-weight: 325;
        line-height: 12px;
        text-align: left;
      }
      .book__item-description {
        display: none;
      }
    }
  }
}
.catalog-active {
  margin: 30px 16px;
  .catalog-head {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 30px;
    .catalog-head-title {
      color: rgba(255, 255, 255, 1);
      font-family: Gotham;
      font-size: 20px;
      font-weight: 700;
      line-height: 22.1px;
      text-align: left;
    }
    .catalog-arrow {
      display: none;
    }
  }
  .catalog-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    .book__item {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      img {
        width: 100%;
        height: 254px;
      }
      .book__item-title {
        font-family: Gotham;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        color: rgba(234, 244, 244, 1);
        margin-top: 16px;
        margin-bottom: 4px;
      }
      .book__item-subtitle {
        font-family: Gotham;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        text-align: left;
        margin-bottom: 8px;
        color: #e9f3f3;
      }
      .book__item-description {
        color: #eaf4f4;
        font-family: Gotham;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
      }
    }
  }
}
.modal-open {
  position: relative;
  width: 390px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-book__item {
    margin: 30px 0;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background: rgb(36, 36, 36);
    max-width: 390px;
    min-height: 430px;
    width: 100%;
    padding: 24px;
    border-radius: 24px;
    .modal-content {
      display: flex;
      flex-direction: column;
      .close {
        color: #ffff;
        font-size: 32px;
      }
      img {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
      }
      .book__item-title {
        color: #fff;
        font-family: Gotham;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 10px;
      }
      .book__item-subtitle {
        font-family: Gotham;
        font-size: 18px;
        font-weight: 325;
        line-height: 16.8px;
        color: #9ba2a2;
        margin-bottom: 10px;
      }
      .book__item-description {
        font-family: Gotham;
        font-size: 18px;
        font-weight: 400;
        line-height: 16.8px;
        color: #8b8c8c;
      }
    }
  }
}