.genres {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: flex-start;

  .genres-active-item {
    display: none;
  }
  .genres__leftitem {
    display: flex;
    align-items: center;
    column-gap: 6px;
    row-gap: 8px;
    flex-wrap: wrap;
    height: 92px;
    overflow: hidden;
    width: 70%;
    .genres__item {
      padding: 12px 16px;
      background: #232525;
      border: 1px solid rgba(49, 51, 51, 1);
      border-radius: 20px;
      height: 42px;
      width: auto;
      display: flex;
      align-items: center;
      column-gap: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      .genres__item-plus {
        display: block;
        width: 20px;
        height: 20px;
      }
      .genres__item-ok {
        display: none;
      }
      &:hover {
        background-color: #cde7be;
        cursor: pointer;
        transition: 0.7s ease all;
      }
      &.selected {
        padding: 12px;
        border-radius: 20px;
        height: 42px;
        width: auto;
        cursor: pointer;
        transition: background-color 0.3s ease;
        background-color: #cde7be;
        align-items: center;
        display: flex;
        column-gap: 4px;
        span {
          font-family: Gotham;
          font-size: 14px;
          font-weight: 500;
          line-height: 16.8px;
          color: rgba(49, 51, 51, 1);
        }
        .genres__item-plus {
          display: none;
        }
        .genres__item-ok {
          display: block;
          width: 20px;
          height: 20px;
        }
      }
      span {
        color: rgba(234, 244, 244, 1);
        font-family: Gotham;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        text-align: left;
      }
    }
  }
  .genres-arrow {
    display: flex;
    align-items: center;
    column-gap: 4px;
    width: 20%;
    img {
      width: 16px;
      height: 16px;
    }
    span {
      color: rgba(205, 231, 190, 1);
      font-family: Gotham;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.4px;
      width: 100%;
    }
  }
}
.genres-active {
  background-color: #181919;
  padding: 16px;
  width: 390px;
  h2 {
    color: rgba(234, 244, 244, 1);
    font-family: Gotham;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
  }
  .genres-active-item-block {
    background: #232525;
    border-radius: 12px;
    padding: 24px 16px;
    .genres__leftitem {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 6px;
      row-gap: 8px;
      flex-wrap: wrap;
      overflow: hidden;
      width: 100%;
      span {
        color: rgba(196, 204, 204, 1);
        margin-bottom: 24px;
        font-family: Gotham;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
      }

      .genres__item {
        padding: 12px 16px;
        background: #232525;
        height: 42px;
        border: 1px solid rgba(49, 51, 51, 1);
        border-radius: 20px;
        width: auto;
        display: flex;
        column-gap: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        .genres__item-plus {
          display: block;
          width: 20px;
          height: 20px;
        }
        .genres__item-ok {
          display: none;
        }
        &:hover {
          background-color: #cde7be;
          cursor: pointer;
          transition: 0.7s ease all;
        }
        &.selected {
          background-color: #cde7be;
          height: 42px;
          flex-direction: row;

          padding: 12px 16px;
          border: 1px solid rgba(49, 51, 51, 1);
          border-radius: 20px;
          width: auto;
          display: flex;
          column-gap: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          span {
            font-family: Gotham;
            font-size: 14px;
            font-weight: 500;
            line-height: 16.8px;
            color: rgba(49, 51, 51, 1);
          }
          .genres__item-plus {
            display: none;
          }
          .genres__item-ok {
            display: block;
            width: 20px;
            height: 20px;
          }
        }
        &.disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
        span {
          color: rgba(234, 244, 244, 1);
          font-family: Gotham;
          font-size: 14px;
          font-weight: 500;
          line-height: 16.8px;
        }
      }
    }
    .genres-active-item-btn {
      width: 100%;
      background-color: #cde7be;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
      margin-top: 24px;
      margin-bottom: 12px;
      border-radius: 8px;
      a {
        color: rgba(49, 51, 51, 1);

        font-family: Gotham;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.8px;
        text-decoration: none;
      }
    }
    .span {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        color: rgba(196, 204, 204, 1);
        font-family: Gotham;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        text-align: center;
      }
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .none {
    display: none;
  }
}
